# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
quote_type = auto
tab_width = 2
trim_trailing_whitespace = true

# Windows scripting files
[*.{bat,cmd,ps1}]
end_of_line = crlf
indent_style = ignore

# JSON files contain newlines inconsistently
[*.json]
insert_final_newline = ignore

# Yaml files
[*.{yaml,yml}]
indent_size = 2
indent_style = space
quote_type = auto

# Markdown files
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# Python files
[*.py]
indent_size = 4
max_line_length = 80

# Typescript files
[*.ts]
quote_type = single

# Minified JavaScript files shouldn't be changed
[**.min.js]
indent_style = ignore
insert_final_newline = ignore

# Dart files
[*.dart]
max_line_length = 80

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab

# XML files
[*.{xml,xsd}]
indent_size = 2
indent_style = space
max_line_length = off
tab_width = 2
